*{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

#header {
  font-size: 60px;
}


#templateContainer{
  margin: 50px;
}
#title {
font-size: 40px;
}

#year, #type {
  font-size: 20px;
}



